<%- include('partials/header.ejs') -%>
    <main class="container">
        <div><h1>ADMIN ACCESS PANEL</h1></div>
        <div class="dashboard-links">
            <a>
                <h3>Headquarter Admin</h3>
                <p>Manage users, vendors, and all complaints across areas.</p>
            </a>
            <a>
                <h3>Area Admin</h3>
                <p>View Area Wise Complaint Report</p>
            </a>
        </div>
    </main>
<%- include('partials/footer.ejs') -%>
</body>
</html>