<footer>
    <div class="address"><img src="/ecl_logo_white.png" alt="logo" width="100vw" style="margin-right: 10px;"> Sanctoria, Dishergarh, West Bardhaman, W.B. - 713333 | Tel: 0341-2520052-53, 2520414 | Fax: 0341-2523574</div>
    <div class="copyright">Copyright © 2025 EASTERN COALFIELDS LIMITED | All Rights Reserved | Developed and Managed by System Department, ECL HQ</div>
</footer>