<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Complaints</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="timeline">Time Bar</div>
        <div class="running-text"><marquee scrollamount="15" onmouseover=stop() onmouseleave=start() style="margin: 0rem 4rem 0rem 4rem;">
            <span style="color:brown">MISSION OF COAL INDIA</span>
             - 
    To produce and market the planned quantity of coal and coal products efficiently and economically in an eco-friendly manner with due regard to safety, quality and conservation.
    &nbsp;&nbsp; | &nbsp;&nbsp;
            <span style="color:yellow">VISION OF COAL INDIA</span>
             - 
    To emerge as a global player in the primary energy sector committed to provide energy security to the country by attaining environmentally and socially sustainable growth through best practices from mine to market.
  
        </marquee></div>
        <nav class="navbar">
            <img src="/logo.jpg" alt="logo" width="90vw" class="nav-logo">   
            <span class="nav-center">PC COMPLAINT MANAGEMENT</span>
            <span class="nav-right">
                <a href="index">Dashboard</a>
                <a href="#">Help</a>
                <% if (isLoggedIn) { %>
                <a href="logout">Logout</a>
                <% } %>
            </span>
        </nav>
    </header>