<%- include('partials/header.ejs') -%>
    <main class="container">
        <div><h1>PC COMPLAINT MANAGEMENT DASHBOARD</h1></div>
        <div class="dashboard-links">
            <a href="admin-dashboard">
                <h3>Admin Dashboard</h3>
                <p>Manage users, vendors, complaints, and oversee system operations.</p>
            </a>
            <a href="vendor-dashboard">
                <h3>Vendor Dashboard</h3>
                <p>Only for vendors</p>
            </a>
            <a href="user-dashboard">
                <h3>User Dashboard</h3>
                <p>File complaints and track complaint status effortlessly.</p>
            </a>
        </div>
    </main>
<%- include('partials/footer.ejs') -%>
</body>
</html>