<%- include('partials/header.ejs') -%>
    <main class="container">
        <div><h1>Portal Login</h1></div>
        <div class="login-form">
            <form action="login" method="post">
                <div>
                    <label for="username">EIS Number / Man Number:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="password">Date of Birth:</label>
                    <input type="date" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
                
            </form>
            
        </div>
        <div class="complaint-links">
            <a>File Complaint</a>
            <a>View complaint by ID</a>
            <a>View complaint by serial number</a>
            <a>View registered complaints</a>
        </div>
    </main>
<%- include('partials/footer.ejs') -%>
</body>
</html>