<%- include('partials/header.ejs') -%>
    <main class="container">
        <div><h1>PC Complaint Management Dashboard For Complainant</h1></div>
        <div class="dashboard-links">
            <a href="login-page.html">
                <h3>File a new Complaint</h3>
                <p>Report an issue related to your PC components.</p>
            </a>
            <a href="login-page.html">
                <h3>View Complaint by ID</h3>
                <p>Check the status of your complaint using Complaint ID(generated at time of filing Complaint).</p>
            </a>
            <a href="login-page.html">
                <h3>View Complaint by Serial Number</h3>
                <p>Check complaints by PC serial number(in case you forget your Complaint id).</p>
            </a>
            <a href="login-page.html">
                <h3>View Your Registered Complaints</h3>
                <p>Check complaints filed by user.</p>
            </a>
        </div>
    </main>
<%- include('partials/footer.ejs') -%>
</body>
</html>