<%- include('../partials/header.ejs') -%>
    <main class="container">
        <div><h1>Portal Login</h1></div>
        <div class="login-form">
            <form action="view-complaintsbyID" method="post">
                <div>
                    <label for="complaintId">Complaint ID:</label>
                    <input type="text" id="complaintId" name="complaintId" required>
                </div>
                <button type="submit">Submit</button>
                
            </form>
            
        </div>
        <div class="complaint-links">
            <a>File Complaint</a>
            <a href="view-complaintsbyID">View complaint by ID</a>
            <a>View complaint by serial number</a>
            <a href="view-complaints">View registered complaints</a>
        </div>
    </main>
<%- include('../partials/footer.ejs') -%>
</body>
</html>