*{
    padding: 0;
    margin: 0;
    font-family: 'Arial';
}
body {
    background-image: url('chipset.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* This keeps the image static */
    background-position: center center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

.timeline{
    background-color: #555;
    display: flex;
    justify-content: center;
    padding: 0.25rem 0.25rem;
}
.running-text{
    background-color: #ffb600;
    display: flex;
    justify-content: center;
    padding: 0.25rem 0.25rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 0.7rem;
    flex-wrap: wrap;
    background-color: #ab6b37;
}

.nav-logo {
    flex: 0 0 auto;
}

.nav-center {
    flex: 1 1 auto;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}


.nav-right {
    flex: 0 0 auto;
    font-size: 1.2rem;
}

.nav-right a {
    margin-left: 1rem;
    text-decoration: none;
    color: #333;
}

.container {
    min-height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
@media (max-width: 768px) {
    .container {
        padding-top: 20vh;
        padding-bottom: 20vh;
    }
}
@media (max-width: 507px) {
    .container {
        padding-top: 25vh;
    }
}
.container h1 {
    text-align: center;
    color: #fff;
    padding-top: 5%;
    margin-bottom: .5%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.container p{
    color: #afdfe5;
    font-size: medium;
}

.dashboard-links {
    display: flex;  
    justify-content: center;
    gap: 2rem;
    margin: 5%;
    flex-wrap: wrap;
}

.dashboard-links a {
    text-align: center;
    width: 20%;
    color: #fff;
    font-size: 1.2rem;
    color: #fc7703;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 5%;
    text-decoration: none;
    border-radius: 1rem;
}
@media (max-width: 768px) {
    .dashboard-links a{
        display: inline-block;
        width: 30%;
    }
}
@media (max-width: 600px) {
    .dashboard-links a{
        display: inline-block;
        width: 80%;
    }
}
.dashboard-links a:hover {
    background-color: rgba(0, 0, 0, 0.95);
    box-shadow: #fc7703 0px 0px 30px 5px;
    transform: scale(1.04);
}


footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
}

.address{
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: .8rem; 
    padding: 1rem 2rem 1rem 2rem;
}

.address span{
    padding: 1rem;
}
.copyright {
    background-color: #ffb600;
    display: flex;
    justify-content: center;
    color: #444;
    font-size: .8rem; 
    font-weight: bold;
    padding: .5rem .5rem;
}

.login-form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255,255,255,0.4); /* semi-transparent white */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: large;
}
.login-form a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 6rem;         /* Set a fixed height */
    width: 100%;          /* Make them fill the available width */
    font-size: 1.2rem;
    color: #fc7703;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 0 1rem;      /* Horizontal padding only */
    text-decoration: none;
    border-radius: 0.2rem;
    box-sizing: border-box;
}

.login-form form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.login-form span {
    display: flex;
    width: 100%;
    justify-content: space-between; /* or use center, start, etc. */
    gap: 1rem; /* optional spacing between links */
    align-items: center; /* centers the text vertically */
}
@media (max-width: 768px) {
    .login-form{
        width: 70%;
    }
    .login-form span{
        display: inline-block;
        width: 100%;
    }
    .login-form a {
        margin-bottom: 10px; /* Optional: adds spacing between links */
        height: 3rem;
    }
}
.complaint-links{
    width: 70%;
    margin: 15px auto;
    padding: 20px;
    background-color: rgba(255,255,255,0.4); /* semi-transparent white */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: large;
    gap: 1rem;
    justify-content: center;
}
.complaint-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 6rem;         /* Set a fixed height */
    max-width: 100%;          /* Make them fill the available width */
    font-size: 1.2rem;
    color: #fc7703;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 0 1rem;      /* Horizontal padding only */
    text-decoration: none;
    border-radius: 1rem;
    box-sizing: border-box;
}
.complaint-table {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255,255,255,0.4); /* semi-transparent white */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: large;
}
input{
    height: 1rem; /* Adjust value as needed */
    font-size: 1rem; /* Optional: makes text larger */
    padding: 6px 10px; /* Optional: adds inner spacing */
    border-radius: 0.2rem;
    border-style: none;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
button{
    width: 100%;
    height: 2rem; /* Adjust value as needed */
    font-size: 1.2rem; /* Optional: makes text larger */
    border-radius: 0.2rem;
    cursor: pointer;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    margin-bottom: 15px;
}